
/*---GENERAL---*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: sans-serif;
	margin: 0;
}

div #wraper {
	height: 100%;
	position: relative;
}

/*---font details---*/

a, main p{
	font-size: 13px;
}

a:hover {
	text-decoration: underline;
}

p , main input{
	font-size: 15px;
}

footer a, footer p , main input{
	color: #62666b;
	text-decoration: none;
}

/*---NAV---*/

nav div{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 13px 30px;
}

nav div a {
	color: rgba(0,0,0,0.87);
    text-decoration: none;
}

nav .nav-padding {
	padding: 0 17px;
}

.square-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.square {
	height: 6px;
	width: 6px;
	background-color: #737373;
	border: 1px solid white;
	padding: 0;
}

.square:hover {
	background-color: black; 
}

.circle {
	height: 33px;
	width: 33px;
	background-color: #7e57c2;
	border-radius: 50%;
	padding-top: 5px;
	padding-left: 11px;
	font-size: 20px;
	color: white;
	margin-left: 17px;
	}

.circle:hover {
	text-decoration: none;
}

/*---MAIN---*/

main div.logo {
	background-image: url("images/logo.png");
	height: 150px;
	background-repeat: no-repeat;
	width: 272px;
	background-position: center;
	display: inline-flex;
	margin-top: 70px;
}

div.main-container {
	text-align: center;
}

div#search-field {
	display: inline-flex;
	width: 600px;
	height: 45px;
	border-radius: 20px;
	border: 1px solid #e4e4e4;
}

input[type=text] {
	border: none;
	width: 550px;
	background-image: url(images/search.png);
	background-position: 15px;
	background-repeat: no-repeat;
	padding-left: 40px;
	background-size: 15px 15px;
	margin-left: 5px;
	border-radius: 30px;
}


input[type=text]:focus,
input[type=text]:hover {
	outline: none;
}

div#search-field:hover,
div#search-field:focus {
	box-shadow: 1px 2px  5px #e4e4e4;
}

main input[type=button] {
	margin: 30px 3px 20px 3px;
	padding: 8px 16px;
	background-color: #f2f2f2;
	border: 1px solid white;
	border-radius: 4px;
}

main div#search-field input#micro {
	margin:0;
	background-image:url(images/download.png);
	background-position: 15px;
	background-repeat: no-repeat;
	padding-left: 40px;
	background-size: 14px;
	background-color: white;
	padding-right: 10px; 
	border-radius: 50%;
	border: none
}

main div#search-field input#micro:hover {
	border: none;
}

input[type=button]:hover {
	border: 1px solid #c6c6c6;
	color: black;
	background-color: linear-gradient(top,#f5f5f5,#f1f1f1)
}

main p a {
	color: #1a0dab;
	text-decoration: none;
}

/*---FOOTER---*/


footer div.footer  {
	background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer-top {
	display: inline-block;
	position: fixed;
	left: 0;
	bottom: 40px;
	width: 100%;
	background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.footer a , footer p {
	margin: 12px 0 12px 27px;
}

footer div, footer div {
	display: inline-flex;
}

footer div .footer-end {
	margin-left: auto;
	margin-right: 27px;
}
